.header_container{
    /* position: sticky; */
    width: 100%;
    top: 0px;
    border-bottom: 1px solid rgb(182, 180, 180);
    background-color: white;
    box-shadow: 0px 0px 3px gray;
}
.main_header_container{
    display: flex;
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
}
.navbar_logo{
    background-color: rgb(207, 68, 17);
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 10px 10px;
    font-size: 1em;
}

.bar_div{
    display: none !important;
}
.close_div{
    font-size: 2em;
    font-weight: 700;
    width: fit-content;
}
.close_div:hover{
    cursor: pointer;
}

@media screen and (max-width:950px){
    .bar_div{
        display: block !important;
    }
    .btns,.search_bar_div{
        display: none !important;
    }
    .bar{
        font-size: 2em !important;
    }
}