.product-home {
  background-color: #ebedee;
  height: max-content;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  /* position: relative; */
}
.ph-box {
  background-color: white;
  /* position: absolute; */
  width: 70%;
  height: max-content;
  padding-bottom: 0.5rem;
  /* margin: 2rem 0 0 5rem; */
  border-radius: 2px;
}
.ph-breadcrumb {
  width: 100%;
  margin: 1rem 0 0 0;
}
.ph-text {
}
.ph-box > hr {
  padding: 0 !important;
}

.ct-drpdwn {
  width: 91%;

  /* margin: 0 0 0 2.5rem; */
}
.ph-item-1 {
  width: 68%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ph-item-2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}
.ph-item-2 > a{
  color: #09B1BA;
}
.product-sec {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 2rem;
}
.ph-item-3{
  margin-top: 2rem;
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sort-btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
.MuiPagination-ul{
  justify-content: center !important;
  line-height: 50px;
}

@media (max-width: 950px){

}