.how_work_head_div{
    background-color: rgb(247, 244, 244);
    height: 65vh;
    padding: 100px 190px;
}
.main_howWork_head{

    width: 500px;
    line-height: 1.5em;
}
.main_howWork_head>u{
    color: rgb(56, 170, 170);
    /* border-bottom:6px solid rgb(56, 170, 170); */
    
}
.how_work_head_div>p{
    width: 530px;
    font-size: 1.3em;
   color: rgb(163, 160, 160);
   margin-top: 30px;
}
.selling_simple{
    /* border: 2px solid; */
    width: 970px;
    margin: 0px auto;
    /* padding: 20px 0px 20px 0px; */
    padding-top: 50px;
    border-bottom: 1px solid rgb(206, 204, 204);
    padding-bottom: 100px;
    margin-top: 50px;
}
.selling_simple_cards_div{
    display: flex;
}
.selling_simple_cards{
    /* border: 2px solid; */
    width: 320px;
    padding: 10px 10px;
    margin-top: 30px;
}
.selling_card_img{
    width: 300px;
    border-radius: 8px;
}
.selling_card_head{
    margin-top: 30px;
}
.selling_card_para{
    margin-top: 15px;
    color: gray;
    line-height: 1.8em;
    font-size: 1.1em;
    height: 20vh;
}
.selling_card_para2{
    margin-top: 15px;
    color: gray;
    line-height: 1.8em;
    font-size: 1.1em;
    /* height: 20vh; */
}
.selling_card_link{
    color: #09B1BA;
}
.btn_div{
    text-align: center;
    margin: 0px auto;
    padding-top: 50px;
}
.btn_div>button{
    outline: none;
    border: 1px solid #09B1BA;
    color: #09B1BA;
    background-color: transparent;
   padding: 10px 20px;
   border-radius: 6px;
}

.selling_simple_cards_two{
    display: flex;
    /* border: 2px solid; */
    justify-content: space-between;
    

}

.icons_how_work{
    font-size: 2.5em;
    background-color: rgb(62, 165, 165);
    margin-top: 30px;
}
.detail_cards{
    /* border: 2px solid; */
    margin-top: 0px;
    /* width: 300px; */
    margin-left: 20px;
}

.ready_to_go_div{
    background-color: rgb(80, 202, 202);
    height: 50vh;
    text-align: center;
    padding-top: 100px;
}
.ready_to_go_div>h1{
   color: white;
   /* text-align: center; */
}
.shoping_btn{
    margin-top: 20px;
    outline: none;
    border: 1px solid #09B1BA;
    padding: 10px 20px;
    border-radius: 6px;
    margin-right: 20px;
    background-color: #09B1BA;
    color: white;
    border: 1px solid white;
}
.selling_btn{
    border: 1px solid #09B1BA;
    color: #09B1BA;
    background-color: white;
    margin-top: 20px;
    outline: none;
   padding: 10px 20px;
   border-radius: 6px;
   margin-left: 20px;
}

@media screen and (max-width:970px){
    
    .how_work_head_div{
        padding:70px 30px ;
        height: 50vh;
    }
    .main_howWork_head,.how_work_head_div>p{
        width: 100%;
    }
    .selling_simple,.selling_card_img,.selling_simple_cards{
        width: 100%;
    }
    .selling_simple{
        padding: 10px 25px;
    }
    .selling_simple_cards_div{
        flex-direction: column;
    }
    .selling_card_para{
        height: auto;
    }
}

@media screen and (max-width:550px){
    .main_howWork_head{
        font-size: 1.4em;
    }
    .how_work_head_div>p{
        font-size: 1em;
    }
    .selling_card_para,.selling_card_para2{
        font-size: .9em;
        line-height: 1.3em;
    }
    .selling_card_head,.selling_card_head2{
        font-size: 1.2em;
    }
    .main_head_cards{
        font-size: 1.4em;
    }
    .selling_btn,.shoping_btn{
        font-size: .9em;
        padding: 10px 10px;
    }
    .selling_simple{
        padding-bottom: 50px;
    }
}