.catalog_drop_down_container{
    /* border: 2px solid; */
    /* height: 60vh; */
    /* margin-right:250px; */
}
.list_drop_downs{
    display: flex;
}
.catalog_tag{
    font-weight: 700;
    color: gray;
}
.catalog_tag:hover{
    cursor: pointer;
}
.catalog_list_div{
    /* border: 2px solid; */
    background-color: white;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0px 0px 3px gray;
    border-radius: 2px;
}

.catalog_list_ul>li{
   padding: 10px 15px 0px 10px;
   /* border: 2px solid; */
   margin-top: 5px;
   display: flex;
   justify-content: space-between;
   width: 230px;
   border-bottom: 1px solid rgba(212, 209, 209, 0.925);

}
.catalog_list_ul>li:hover{
    cursor: pointer;
    background-color: rgb(241, 236, 236);
}
.dropDown_menu_container{
    position: absolute;
    z-index: 1111;
    top: 320px;
}
.size_drop_down{
    margin-left: 30px;
}
.menu_icons{
    color: rgb(59, 187, 187);
    font-size: 2em;
}
.more_icon{
    font-size: 1.2em;
    color: gray;
    font-weight: 600;

}
.icon_name{
    font-weight: 600;
    /* margin-left: 15px; */
}
.title_drop_down{
    text-align: center;
    margin-right: 80px;
    font-weight: 700;

}
.back_icon{
    font-size: 1.4em;
    font-weight: 700;

}
.back:hover{
    background-color: honeydew;
    /* padding: 5px; */
}
.checkBox{
    margin-top: 7px;
    background-color: rgb(56, 173, 173);
}
.MuiPaper-elevation1{
    box-shadow: none !important;
}

            
          /* SIZE DROP DOWN  */


.dropDown_menusize_container{
    position: absolute;
    top: 320px;
    left: 180px;
}

    /* COLOR DROP DOWN  */

.clr{
  width: 20px; 
  border-radius: 40px;
  margin-right: 10px;
}

.dropDown_menucolor_container{
    position: absolute;
    top: 320px;
    left: 270px;
}


    /* BRAND DROP DOWN  */

.dropDown_menuBrand_container{
   position: absolute;
   top: 320px;
   left: 350px;
} 

/* price drop down  */

.dropDown_menuPrice_container{
    position: absolute;
    top: 320px;
    left: 450px;
}
.inputF{
    width: 60px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(185, 183, 183);
}
.catalog_list_price_ul{
    width: 200px;
    /* height: 100px; */
}
.catalog_list_price_ul>li{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}


 /* condition drop down  */

.dropDown_menuCondition_container{
    position: absolute;
    top: 320px;
    left: 540px;
}