
.main_help_center_div{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 240, 240);
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    /* height: 110vh; */
    /* height: min-content; */
}
.help_search_div{
    /* border: 2px solid; */
    width: 550px;
    background-color: white;
    padding: 20px 25px 25px;
}
.help_search_div>div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(223, 220, 220);
}
.help_search_div>div:focus-within{
    border-bottom: 1px solid rgb(56, 177, 233);
}
.help_search_div>div>input{
    width: 100%;
}
.helpcenter_head{
    font-size: 1.5em;
}
.helpcenter_ul>li{
   /* border: 2px solid; */
   padding: 15px 50px 15px 4px;
   margin-top: 7px;
   color: rgb(167, 162, 162);
}
.helpcenter_ul>li:hover{
    background-color: rgb(209, 212, 209);
    cursor: pointer;
}
.helpcenter_search_table_div{
    margin-left: 40px;
}
.helpcenter_table_div{
    width: 550px;
    margin-top: 10px;
    background-color: white;
}
.table_div_helpcenter{
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
}
.topic_head{
    padding: 10px 20px 20px 20px  ;
    font-size: 1.5em;
     font-weight: 600;
     border-bottom: 1px solid gray;
}
.table_div_helpcenter>div{
    /* padding: 60px 71px; */
    border-bottom: 1px solid rgb(241, 238, 238);
    /* border-top: 1px solid rgb(223, 218, 218); */
    border-left: 1px solid rgb(241, 238, 238);
    text-align: center;
    width: 182.99px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.table_div_helpcenter>div:hover{

    cursor: pointer;
}
.table_div_helpcenter>div:hover p{
    
    border-bottom: 1px solid;
}
.table_div_helpcenter>div>p{
    margin: 0px auto;
    margin-top: 15px;
    color: gray;
    font-size: .9em;
    width: fit-content;
    height: fit-content;
}
.help_center_icon{
    font-size: 2.2em;
    /* color: rgb(51, 134, 134); */
    background-color: rgb(50, 153, 153);
}

.help_nested_ul>li{
    font-size: .9em;
    padding: 10px 20px;
   color: rgb(167, 162, 162);

}
.help_nested_ul>li:hover{
    background-color: rgb(209, 212, 209);
    cursor: pointer;
}



@media screen and (max-width:950px){
    .helpcenter_list_div{
        display: none;
    }
    .help_search_div{
        margin: 0px auto;

        width: 95%;
    }
    .helpcenter_search_table_div{
        margin-left: 0px;
    }
    .helpcenter_table_div{
        margin: 0px auto;
        width: 95%;
        margin-top: 15px;
    }
    .table_div_helpcenter>div{
        width: 33.3%;
    }
}

@media screen and (max-width:500px){
    .table_div_helpcenter>div{
        width: 50%;
    border-right: 1px solid rgb(241, 238, 238);

    }
}
@media screen and (max-width:405px){
    .main_help_center_div{
        margin-top: 15px;
    }
}
@media screen and (max-width:365px){
    .table_div_helpcenter>div{
        width: 50%;
    border-right: 1px solid rgb(241, 238, 238);

    }
    .helpcenter_table_div,.help_search_div{
        width: 90%;
    }
}

       
       /* keywords link component */

.main_keyWords_links_div{
    width: 550px;
    background-color: white;
    margin-left: 40px;
    padding-top: 5px ;
}       
.keyWords_links_ul>li{
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 5px 15px;
  border-bottom: 1px solid rgb(211, 206, 206);
} 
.keyWords_links_ul>li:hover{
    cursor: pointer;
    background-color: rgb(250, 252, 250);
}
.keyWords_links_sub_div_li{
    display: flex;
}
.keyWords_links_head{
    padding-top: 15px;
    margin-left: 15px;
}
.keyWords_links_recommend{
    margin-left: 15px;
    margin-top: 22px;
    font-size: .8em;
    color: gray;
}
.keyWords_links_icon{
    font-size: 1.3em;
    color: gray;

}
.keyWords_links_li_para{
    margin-left: 6px;
    margin-top: -3px;
}

@media screen and (max-width:950px){
    .main_keyWords_links_div{
        /* border: 2px solid; */
        width: 95%;
        margin-left: 0px;
        margin: 0px auto;
    }
    .keyWords_links_container{
        /* border: 2px solid; */
        width: 100%;
    }
}

@media screen and (max-width:400px){
    .keyWords_links_li_para{
        font-size: .9em;
    }
}


              /* detail component  */

.main_help_detail_div{
    width: 550px;
    background-color: white;
    padding: 15px 20px;
}
.detail_head{
    font-size: 1.3em;
    margin-top: 20px;
}
.detail_para{
    margin-top: 20px;
    color: gray;
    font-size: .9em;
}

@media screen and (max-width:950px){
    .help_detail_container{
        width: 100%;

    }
    .main_help_detail_div{
        width: 90%;
        margin: 0px auto;
    }
}