.main_help_center_div{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 221, 221);
    padding-top: 50px;
    padding-bottom: 50px;
}
.help_search_div{
    /* border: 2px solid; */
    width: 550px;
    background-color: white;
    padding: 20px 25px 25px;
}
.help_search_div>div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(223, 220, 220);
}
.help_search_div>div:focus-within{
    border-bottom: 1px solid rgb(56, 177, 233);
}
.help_search_div>div>input{
    width: 100%;
}
.helpcenter_head{
    font-size: 1.5em;
}
.helpcenter_ul>li{
   /* border: 2px solid; */
   padding: 15px 50px 15px 4px;
   margin-top: 7px;
   color: rgb(167, 162, 162);
}
.helpcenter_ul>li:hover{
    background-color: rgb(209, 212, 209);
    cursor: pointer;
}
.helpcenter_search_table_div{
    margin-left: 40px;
}
.helpcenter_table_div{
    width: 550px;
    margin-top: 10px;
    background-color: white;
}
.table_div_helpcenter{
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
}
.topic_head{
    padding: 10px 20px 20px 20px  ;
    font-size: 1.5em;
     font-weight: 600;
     border-bottom: 1px solid gray;
}
.table_div_helpcenter>div{
    /* padding: 60px 71px; */
    border-bottom: 1px solid rgb(241, 238, 238);
    /* border-top: 1px solid rgb(223, 218, 218); */
    border-left: 1px solid rgb(241, 238, 238);
    text-align: center;
    width: 182.99px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.table_div_helpcenter>div:hover{

    cursor: pointer;
}
.table_div_helpcenter>div:hover p{
    
    border-bottom: 1px solid;
}
.table_div_helpcenter>div>p{
    margin: 0px auto;
    margin-top: 15px;
    color: gray;
    font-size: .9em;
    width: fit-content;
    height: fit-content;
}
.help_center_icon{
    font-size: 2.2em;
    /* color: rgb(51, 134, 134); */
    background-color: rgb(50, 153, 153);
}

@media screen and (max-width:950px){
    .helpcenter_list_div{
        display: none;
    }
    .help_search_div{
        margin: 0px auto;

        width: 95%;
    }
    .helpcenter_search_table_div{
        margin-left: 0px;
    }
    .helpcenter_table_div{
        margin: 0px auto;
        width: 95%;
        margin-top: 15px;
    }
    .table_div_helpcenter>div{
        width: 33.3%;
    }
}

@media screen and (max-width:500px){
    .table_div_helpcenter>div{
        width: 50%;
    border-right: 1px solid rgb(241, 238, 238);

    }
}
@media screen and (max-width:365px){
    .table_div_helpcenter>div{
        width: 50%;
    border-right: 1px solid rgb(241, 238, 238);

    }
    .helpcenter_table_div,.help_search_div{
        width: 90%;
    }
}